.app-bar-header {
    & a {
        margin-right: 16px;
        color: white;
        display: block;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            color: #996830;
            font-weight: bold;
        }
    }
}

#menu-appbar {
    a {
        color: black;
    }
    a.active {
        color: #996830;
        font-weight: bold;

    }
}
